<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %} :: Formation Symfony</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header>
            <h1>Formation Symfony 5.4</h1>
            <hr />
        </header>
        <nav>
            <a href="{{ path('home_index') }}">Accueil</a> -
            <a href="{{ path('video_index') }}">Exercice vidéo</a> -
            <a href="{{ path('twig_index') }}">Twig</a> -
            <a href="{{ path('movie_presentation') }}">Présentation Star Wars</a>
        </nav>
        {% for type, messages in app.flashes %}
            <div class="">
                {% for message in messages %}
                    <strong>{{ type }}: </strong> {{ message }}
                {% endfor %}
            </div>
        {% endfor %}
        <main>
            {% block body %}{% endblock %}
        </main>
        <footer>
            <p>
                <small>Formation Symfony - Dawan Lyon/FOAD - Juin 2022</small>
            </p>
        </footer>
    </body>
</html>
